header {
  display: flex;
  align-items: center;
  padding-bottom: 0.75em;
  border-bottom: var(--main-border);
}

main {
  position: relative;
  display: grid;
  place-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-top: 0.75em;
  border-top: var(--main-border);
}
