.title {
  max-width: 40ch;
}

.total {
  min-width: 10ch;
}

.button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.buttonIcon {
  height: 32px;
  width: 32px;
}

.buttonCell {
  text-align: center;
}

td,
th {
  padding: 0.5em;
}

th {
  font-weight: 700;
}

@media screen and (width <= 600px) {
  .buttonIcon {
    height: 20px;
    width: 20px;
  }
}
