.info {
  font-size: 1.1rem;
}

.username {
  font-weight: 700;
}

.logo {
  height: 32px;
  transition: transform 0.2s ease-in-out;
}

@media (hover: hover) {
  .logo:hover {
    transform: scale(1.3) rotateY(360deg);
  }
}
