.allProducts {
  font-size: 2.5rem;
  margin: 0.75em 0;
  font-family: var(--secondary-font);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  gap: 32px;
  margin-bottom: 1.5em;
}

@media screen and (width <= 600px) {
  .allProducts {
    font-size: 2rem;
  }

  .cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }
}

@media screen and (width > 600px) and (width <= 900px) {
  .allProducts {
    font-size: 2.2rem;
  }

  .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }
}
