@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
  --bg-colour: #ddd0c8;
  --main-colour: #323232;
  --main-font: 'Source Sans 3', sans-serif;
  --secondary-font: 'Lobster', sans-serif;
  --main-border: 3px solid var(--main-colour);
  --star-icon-colour: invert(16%) sepia(92%) saturate(4420%) hue-rotate(148deg)
    brightness(82%) contrast(92%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-colour);
  color: var(--main-colour);
  font-family: var(--main-font);
  font-weight: 500;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  min-height: 100svh;
  padding: 1em;
  margin: auto;
}

:focus-visible {
  outline: 4px solid var(--main-colour);
  outline-offset: 0.25em;
  border-radius: 4px;
}

@media screen and (width <= 600px) {
  #root {
    padding: 0;
    margin: initial;
  }
}
